body {
	color: #333333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	position: relative;
}

#header {
	background: rgb(38,13,68);
	background: -moz-linear-gradient(left,  rgb(38,13,68) 0%, rgb(122,24,122) 61%, rgb(209,112,149) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(38,13,68)), color-stop(61%,rgb(122,24,122)), color-stop(100%,rgb(209,112,149)));
	background: -webkit-linear-gradient(left,  rgb(38,13,68) 0%,rgb(122,24,122) 61%,rgb(209,112,149) 100%);
	background: -o-linear-gradient(left,  rgb(38,13,68) 0%,rgb(122,24,122) 61%,rgb(209,112,149) 100%);
	background: -ms-linear-gradient(left,  rgb(38,13,68) 0%,rgb(122,24,122) 61%,rgb(209,112,149) 100%);
	background: linear-gradient(to right,  rgb(38,13,68) 0%,rgb(122,24,122) 61%,rgb(209,112,149) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#260d44', endColorstr='#d17095',GradientType=1 );
	position: relative;
}

#header:after {
	content:"";
	background: url("../img/bg-pattern.png") center center;
	opacity: .5;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	position: absolute;
}

.opening {
	z-index: 2;
	position: relative;	
	padding: 50px 0 50px;
	width: 1024px;
}


.opening h1 {
	font-size: 90px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 1px;
	text-align: center;
	text-shadow: 0px 2px 2px rgba(122,24,122, 0.15), 0 0 0.15em #261044;
}

.opening h1, p {
	color: #ffffff;
}

.opening p {
	font-size: 20px;
	font-weight: 100;
	line-height: 1.4;
	letter-spacing: 1px;
}

.menu {
	display: block;
	list-style-type: none;
}

.menu li {
	display: inline;
	transition: color 0.4s ease;
	color: #9b729b;
	font-size: 16px;
	font-weight: 400;
}

.menu li:hover {
	color: #fff;
	text-decoration: underline;
}

#container {

}